<form class="form mat-elevation-z8">
    <h1>Atualizando Cliente</h1>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="cliente.nome" [formControl]="nome" required name="nome" maxlength="100" matInput placeholder="Ex. Rafael Ramos Machado">
        <mat-error *ngIf="nome.invalid">{{ errorValidNome() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CPF</mat-label>
      <input  [(ngModel)]="cliente.cpf" [formControl]="cpf" required name="cpf" maxlength="15" matInput placeholder="Ex. 022.222.222-22">
      <mat-error *ngIf="cpf.invalid">{{ errorValidCpf() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telefone</mat-label>
        <input  [(ngModel)]="cliente.telefone" [formControl]="telefone" maxlength="18" required name="telefone" matInput placeholder="Ex. (51)89999999">
        <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
    </mat-form-field>  
    <button class="mat-elevation-z8" (click)="update()" [disabled]="errorValidNome() || errorValidCpf() || errorValidTelefone()" mat-stroked-button color="accent">ATUALIZAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form> 